#container {
  text-align: center;
  font-size: larger;
  font-family: monospace;
  line-height: 1.6;
}

#header {
  text-align: center;
  font-size: xx-large;
}

button {
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  background-color: seagreen;
  color: white;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: linear-gradient(
    0deg,
    rgba(19, 41, 61, 1) 0%,
    rgba(237, 245, 249, 1) 63%
  );
}

.card {
  background: radial-gradient(
    circle,
    rgba(240, 230, 140, 1) 0%,
    rgba(187, 124, 33, 0.604079131652661) 100%
  );
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: auto;
  padding: 20px;
}
